{{define "example"}}
<html>
  <head>
    <title>Train Quick Example</title>
  <style>
    a:visited{color:blue;}
    h2{margin-top:50px;}
  </style>
  </head>
  <body >
    <div style="width:400px;margin:auto;">
      <h1>Train Quick Example</h1>

      <h2>Include Diretive Feature</h2>
      <p>Include Directive: {{if .BundleAssets }} enabled {{else}} disabled {{end}} (<a href="/toggle_bundle_assets">toggle</a>)</p>
      <p><a href="/assets/javascripts/require.js">Javascript with include directive</a></p>
      <p><a href="/assets/stylesheets/require.css">Stylesheet with require directive</a></p>

      <h2>Pipeline Feature</h2>
      <p><a href="/assets/javascripts/app.js">CoffeeScript</a> (<a href="/assets/javascripts/app.coffee">source</a>)</p>
      <p><a href="/assets/javascripts/app.err.js">Invalid CoffeeScript</a> (<a href="/assets/javascripts/app.err.coffee">source</a>)</p>
      <p><a href="/assets/stylesheets/app.css">SASS</a> (<a href="/assets/stylesheets/app.sass">source</a>)</p>
      <p><a href="/assets/stylesheets/app2.css">SCSS</a> (<a href="/assets/stylesheets/app2.scss">source</a>)</p>
      <p><a href="/assets/stylesheets/app.err.css">Invalid SASS</a> (<a href="/assets/stylesheets/app.err.sass">source</a>)</p>
    </div>
  </body>
</html>
{{end}}
